* {
  -webkit-tap-highlight-color: transparent;
}

/* Seleccionamos el span que contiene el icono de expansión cuando está colapsado */
.ps-sidebar-root.ps-collapsed .ps-submenu-expand-icon {
    display: flex !important; /* Forzamos a que se muestre */
}

/* React Pro Sidebar suele convertir el icono en un punto usando border-radius y dimensiones pequeñas */
.ps-sidebar-root.ps-collapsed .ps-submenu-expand-icon > span {
    background-color: transparent !important;
    border-radius: 0 !important;
    position: static !important;
    display: inline-block !important;
}
/*
.ps-collapsed .ps-menu-root .ps-submenu-root .ps-menu-icon{
    margin: 0px 10px 0px 0px;
}
.ps-collapsed .ps-menu-root .ps-menuitem-root .ps-active {
    margin: 0px 10px 0px 0px;
}
*/