* {
  -webkit-tap-highlight-color: transparent;
}

/* Seleccionamos el span que contiene el icono de expansión cuando está colapsado */
.ps-sidebar-root.ps-collapsed .ps-submenu-expand-icon {
    display: flex !important; /* Forzamos a que se muestre */
}

/* React Pro Sidebar suele convertir el icono en un punto usando border-radius y dimensiones pequeñas */
.ps-sidebar-root.ps-collapsed .ps-submenu-expand-icon > span {
    background-color: transparent !important;
    border-radius: 0 !important;
    position: static !important;
    display: inline-block !important;
}

/* Custom header styling */
.ag-header-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.05em;
    font-size: 0.85em;
    word-break: break-word;
    text-align: end;
}

/* Custom cell styling */
.MuiInputBase-sizeSmall input.MuiInputBase-inputSizeSmall{
    padding: 6.5px 14px;
}
